<h1 class="page-header">Product Details</h1>
<a class="edit"  [routerLink]="['/product/edit',id]">Edit</a>
<table style="width:100%">
    <tr>
        <th>Product ID:</th>
        <td>Bill Gates</td>
      </tr>
    <tr>
      <th>Product Name:</th>
      <td>Bill Gates</td>
    </tr>
    <tr>
      <th>Product Type:</th>
      <td>555 77 854</td>
    </tr>
    <tr>
      <th>Product Quantity:</th>
      <td>555 77 855</td>
    </tr>
    <tr>
        <th>Created By:</th>
        <td>555 77 855</td>
    </tr>
    <tr>
        <th>Created At:</th>
        <td>555 77 855</td>
    </tr>
    <tr>
        <th>Updated At:</th>
        <td>555 77 855</td>
    </tr>
  </table>
  