table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
button{
    float: right;
    margin: 20px;
    position: relative;
}
.page-header{
    text-align: center;
}
.edit{
    display:inline-block;
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    margin-bottom: 20px;
}

.btn {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 7px 22px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn:hover {opacity: 1}