.loginError{
    width: auto;
    margin-bottom: 20px;
    background-color: #FEEFB3;
    color : #9F6000;
}
form > .form-group{
    text-align: center;
    margin: 20px;
}
form > .form-group > input{
    width: 300px;
    height: 30px;
    text-align: center;
}
.error{
    color:red;
    position: relative;
}
h1{
    text-align: center;
}