<h1>Products List</h1>
<button type="submit" (click)="deleteProduct()" routerLink="/product/list" class="btn btn-primary">Delete</button>
<table border="1">
    <tr>
        <th></th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Type</th>
        <th>Updated At</th>
    </tr>
    <tr *ngFor="let p of pdata" >
        <td> <input type="checkbox" (change)="checkbox(p.pid)" [(ngModel)]="p.isSelected"></td>
        <td><a [routerLink]="['/product',p.pid]" target="_blank">{{p.pid}}</a></td>
        <td>{{p.pname}}</td>
        <td>{{p.ptype}}</td>
        <td>{{p.updated_at}}</td>
    </tr>
</table>